#Documentação

##Subtítulo

# Operadores Relacionais

In [ ]:
# Menor
10 < 2

False

In [ ]:
# Menor ou igual
10 <= 2

False

In [ ]:
# Maior

10 > 2

True

In [ ]:
# Maior ou igual
10 >= 2

True

In [ ]:
# Igual
7 == 7

True

In [ ]:
# Diferente
7 != 7

False

#Operadores Lógicos



*   And
*   Or
*   Not

##Tabela Verdade

And

In [ ]:
print(10 > 2 and 4 < 6)   # V and V - V
print(10 > 2 and 4 > 6)   # V and F = F
print(10 < 2 and 4 < 6)   # V and F = F
print(10 < 2 and 4 > 6)   # F and F - F

True
False
False
False

Or

In [ ]:
print(10 > 2 or 4 < 6)   # V and V - V
print(10 > 2 or 4 > 6)   # V and F = V
print(10 < 2 or 4 < 6)   # V and F = V
print(10 < 2 or 4 > 6)   # F and F - F

Not

In [ ]:
not 10 > 2    # V - F

False

In [ ]:
not 10 < 2    # F - V

True

##Variáveis

Variáveis estão alocadas em espaços na memória

In [ ]:
#Nome da variável é "x" que armazena o valor 10 em um espaço na memória
x = 10

print(x) # Utilizar a referência no nome atribuido

##Regras

**Case Sensitive**

A != a

**Boas Práticas com Variáveis**

> Exemplo: Multiplicação de 2 números

Não usar

* Multiplicação
* MultiplicacaoDeDoisNumeros
* m

Usar
* multiplicacao
* mult
* mult_total(snake_case)

Tipos de Variáveis

> Python é uma linguagem de alto nível
* Não é necessário especificar o tipo de dados quando declarar a variável
* Python defini o tipo de dados na declaração

# Visualização de Variáveis e textos

In [ ]:
print('Conhecendo o comando Print')

x = 8
print(x)

Conhecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Rodrigo Rebouças'
print(nome)

Rodrigo Rebouças

## Concatenação

In [ ]:
x = 5
print('O valor de x é', x)

O valor de x é 5

In [ ]:
print('O valor de x é', x, 'e o dobro é', x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print('Eu, ', nome, ' tirei', x, 'na prova de Python')

In [ ]:
y = 10; z = 20 + x - y

print('Declarar várias variáveis na mesma linha:', y, z)

Declarar várias variáveis na mesma linha: 10 15

## Type

In [ ]:
x = 10
type(x)
print('x', type(x))

nome = 'Rodrigo'
print('nome', type(nome))

num = '100'
num_convert = int(num) # Converter variável
print('num', type(num))
print('num_convert', type(num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

## Input

* Armazenar a informação digitada pelo usuário em uma variável
* O dado armazenado sempre será um texto

In [ ]:
nome = input("Digite o nome do usuário ") # Aguarda o usuário digitar algo
print(nome)

Digite o nome do usuário Diego
Diego

In [ ]:
valor = input('Digite a nota ')

print(nome, 'sua nota foi', valor)

Digite a nota 7.5
Diego sua nota foi 7.5

In [ ]:
valor = input('Digite o valor do produto')
print(valor)

Digite o valor do produto10
10

In [ ]:
desconto = int(valor) - 5
print(desconto)

5

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

5

In [ ]:
print(f"Olá, {nome} , tudo bem?")

Olá, Diego , tudo bem?

# Condicional

In [ ]:
# If

if 5 < 10:
  print('Verdade')

Verdade

In [ ]:
# If/Else
num1 = 10
num2 = 10

if num1 > num2:
  print('O num1 é o maior número')
else:
  print('O num2 é o maior número')

O num2 é o maior número

In [ ]:
#If / elif / else
num1 = 10
num2 = 10

if num1 > num2:
  print('O num1 é o maior número')
elif num1 < num2:
  print('O num2 é o maior número')
else:
  print('Os dois são iguais')

Os dois são iguais

## Condicional com operadores lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 11

if (num1 > num2) and (num1 > num3):
  print('O num1 é o maior número')
else:
  print('O num1 não é o maior número')

O num1 não é o maior número

# Lista, tuplas e dicionários

In [ ]:
#Lista

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
#Tupla

(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
#Dicionário
{'num1': 1, 'num2': 2}

{'num1': 1, 'num2': 2}

##Lista

In [ ]:
lista = [5, 'Rodrigo', 8.9 ]

In [ ]:
type(lista)

list

In [ ]:
lista.append("Augusto") # Adicionar um elemento na lista

In [ ]:
print(lista)
print(lista[1])

[5, 'Rodrigo', 8.9, 'Augusto']
Rodrigo

##Tupla

In [ ]:
tupla = (5, 'Rodrigo', 8.9)

In [ ]:
type(tupla)

tuple

In [ ]:
tupla.append("Augusto")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(tupla)

(5, 'Rodrigo', 8.9)

##Dicionário

In [ ]:
dicionario = {'nome': 'Rodrigo', 'cidade': 'São José dos Campos'}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario)

{'nome': 'Rodrigo', 'cidade': 'São José dos Campos'}

In [ ]:
print(dicionario["nome"])

Rodrigo

In [ ]:
dicionario['ultimo_nome'] = 'Rebouças'

In [ ]:
print(dicionario)

{'nome': 'Rodrigo', 'cidade': 'São José dos Campos', 'ultimo_nome': 'Rebouças'}

#For

##Estrutura de repetição

In [ ]:
# For Range
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For Range + Break
for contador in range(1000):
  print(contador)
  if contador == 5:
    break

0
1
2
3
4
5

In [ ]:
lista = ["Teste1", "Teste2"]

In [ ]:
# For Simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
# For com Enumerate
for i, val in enumerate(lista):
  print(i, val)

0 Teste1
1 Teste2

## For com operadores compostos

In [ ]:
lista2 = [2,3,4]

In [ ]:
for val in lista2:
  val += 1
  print(val)

3
4
5

In [ ]:
for val in lista2:
  val *= 2
  print(val)

4
6
8

#While

In [ ]:
val = 1
while(val < 6):
  val *= 2
  print(val)

2
4
8

In [ ]:
#While com else
val = 1
while val < 6:
  val *= 5
else:
  print('Valor de val é', val)

Valor de val é 25

#Glossário

*Módulo 1*

**Lembre-se dos termos mais utilizados durante o módulo**

##Concatenation:
O processo de unir duas ou mais strings em uma única string. Em Python, isso é feito usando o operador `+`.

##Markdown:
Uma linguagem de marcação leve usada para formatar texto em notebooks do Google Colab. Permite adicionar cabeçalhos, listas, links, imagens e outros elementos de formatação.

##Notebook:
Um documento interativo que pode conter código executável, visualizações, texto formatado e outros elementos. No Google Colab, notebooks são usados para escrever e executar código Python.

##Type Conversion:
O processo de converter um valor de um tipo de dado para outro, como de string para inteiro ou de float para string. Em Python, isso pode ser feito usando funções como `int()`, `float()`, e `str()`.

#Boas práticas

*Módulo 1*

**Nesta seção você encontrará informações importantes que te ajudarão a aplicar efetivamente o que aprendeu.**

##Documentação do Código
Documentar o código com comentários é essencial para a manutenção e clareza. Comentários ajudam outros desenvolvedores (e você mesmo no futuro) a entender a lógica e o propósito do código. Use comentários para explicar partes complexas ou importantes do código.

##Uso de Nomes Descritivos para Variáveis
Utilize nomes descritivos para variáveis que reflitam seu propósito. Isso facilita a leitura e compreensão do código. Evite nomes genéricos como x ou temp a menos que sejam usados em contextos muito claros.

##Interação com o Usuário
Utilize os comandos print e input para interagir com o usuário. Certifique-se de fornecer mensagens claras e informativas ao solicitar entradas e ao exibir resultados.

##Conversão de Tipos
Ao trabalhar com entradas do usuário, é importante converter os tipos de dados conforme necessário. Por exemplo, se você espera um número, converta a entrada de string para um tipo numérico usando int() ou float().

#Exemplo de utilização no mercado de trabalho:



*   **Automação de Tarefas**: Analistas de dados frequentemente escrevem scripts em Python para automatizar tarefas repetitivas, como a limpeza de dados ou a geração de relatórios. A documentação e o uso de nomes descritivos são cruciais para a manutenção desses scripts.

*   **Interação com Usuários**: Em projetos onde é necessário coletar dados de usuários, como em pesquisas ou formulários, a interação clara e a conversão correta de tipos garantem que os dados sejam coletados e processados corretamente.

#Exemplo de código executável (em Python) que ilustra boas práticas:

In [ ]:
#Solicita o nome do usuário e o exibe
nome_usuario = input("Por favor, insira seu nome: ")
print("Olá,", nome_usuario, "! Bem-vindo ao nosso sistema.")
print(f"Olá, {nome_usuario}! Bem-vindo ao nosso sistema.")

#Solicite a idade do usuário e converte para inteiro

idade_usuario = int(input("Por favor, insira sua idade: "))

#Verifica se o usuário é maior de idade
if idade_usuario >= 18:
  print("Você é maior de idade.")
else:
  print("Você é menor de idade.")

Por favor, insira seu nome: Diego
Olá, Diego ! Bem-vindo ao nosso sistema.
Olá, Diego! Bem-vindo ao nosso sistema.
Por favor, insira sua idade: 28
Você é maior de idade.



*   *input("Por favor, insira seu nome: ")*: Solicita ao usuário que insira seu nome e armazena a entrada na variável nome_usuario.

*   *print(f"Olá, {nome_usuario}! Bem-vindo ao nosso sistema.")*: Exibe uma mensagem de boas-vindas ao usuário utilizando a variável nome_usuario.

*   *int(input("Por favor, insira sua idade: "))*: Solicita ao usuário que insira sua idade, converte a entrada de string para inteiro e armazena na variável idade_usuario.

*   *if idade_usuario >= 18:* : Verifica se o usuário é maior de idade.

*   *print("Você é maior de idade.")*: Exibe uma mensagem se o usuário for maior de idade.

*   *else:*: Bloco de código que será executado se a condição anterior não for atendida.

*   *print("Você é menor de idade."):* Exibe uma mensagem se o usuário for menor de idade.

#De olho no erro

## Módulo 1
*Aprenda a identificar e corrigir os erros mais comuns e torne seu código mais eficiente e confiável.*

##01 Esquecer de indentar o Código Corretamente

*   **Descrição:** A indentação é crucial em Python para definir blocos de código. Esquecer de indentar corretamente pode levar a erros de sintaxe.

*   **Tipo de Erro:** Erro de sintaxe.

In [ ]:
#Exemplo:
if True:
print("Identação incorreta")

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-1-ee67e025977c>, line 3)

In [ ]:
#Correção
if True:
  print("Identação correta")

Identação correta

*   **Passo 1:** Verifique se todos os blocos de código estão corretamente indentados.

*   **Passo 2:** Use espaços ou tabulações de forma consistente.

*   **Passo 3:** Utilize um editor de código que destaque a indentação.

##02 Usar o Operrador de Atribuição em vez do Operador de Igualdade.

*   **Descrição:** Confundir o operador de atribuição("=") com o operador de igualdade ("==") pode levar a resultados inesperados.

*   **Tipo de Erro:** Erro lógico.

In [ ]:
#Exemplo

x = 10
if x = 10:
  print("Erro de operador")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-3-6ad96e024ba5>, line 4)

In [ ]:
#Correção
x = 10
if x == 10:
  print("Operador correto")

Operador correto

*   **Passo 1:** Revise o código para garantir que '=' é usado para atribuição e '==' para comparação.

*   **Passo 2:** Teste o código para verificar se as comparações estão corretas.

##03 Não Converter Tipos de Dados ao Usar 'input'.

*   **Descrição:** O comando 'input' retorna uma string. Esquecerr de converter para tipo de dado apropriado pode causar erros.

*   **Tipo de Erro:** Erro de tempo de execução.

In [ ]:
#Exemplo

idade = input("Digite sua idade:")
if idade > 18:
  print("Maior de idade")

Digite sua idade: 28

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#Correção

idade = int(input("Digite sua idade:"))
if idade > 18:
  print("Maior de idade")

Digite sua idade:28
Maior de idade

*   **Passo 1:** Identifique onde o 'input' é usado para capturar dados do usuário.

*   **Passo 2:** Converta a entrada para o tipo de dado apropriado (por exemplo , 'int' ou 'float')

##04 Esquecer de Inicializar Variáveis

*   **Descrição:** Usar variáveis antes de inicializá-las pode levar a erros de tempo de execução.

*   **Tipo de Erro:** Erro de tempo de execução.

In [ ]:
#Exemplo

total = total + 1
print(total)

NameError: name 'total' is not defined

In [ ]:
#Correção

total = 0
total = total + 1
print(total)

1

In [ ]:
#Correção mais elaborada

total = 0
total += 1
print(total)

1

*   **Passo 1:** Verifique se todas as variáveis são inicializadas antes de serem usadas.

*   **Passo 2:** Inicialize as variáveis com valores apropriados.

##05 Não Usar Parênnteses Corretamente em Expressões Lógicas.

*   **Descrição:** Esqueces de usar parênteses para agrupar expressões lógicas pode levar a resultados inesperados.

*   **Tipo de Erro:** Erro lógico.

In [ ]:
#Exemplo

idade = 25
renda = 3000
if idade > 18 and renda > 2000 or idade < 25:
  print("Aprovado")

Aprovado

In [ ]:
#Correção

idade = 25
renda = 3000
if(idade > 18 and renda > 2000) or idade < 25:
  print("Aprovado")

Aprovado

*   **Passo 1:** Revise as expressões lógicas para garantir que a precedência dos operadores está correta.

*   **Passo 2:** Use parênteses para agrupar expressões e clarificar a lógica

# Reforce seu conhecimento

##Antes de revisar as respostas, tente respondê-las você mesmo; Isso te ajudará a fortalecer sua compreensão. Esta é uma ótima maneira de aprender!

##O que é o Google Colab e por que ele é utilizado no curso?

O Google Colab é uma plataforma web que permite a execução de códigos Python em um ambiente virtual. Ele é utilizado no curso por ser uma ferramenta acessível e prática para iniciantes, permitindoa  criação e manipulação de notebooks, além de facilitar a execução de códigos sem a necessidade de instalação de software adicional.

## Qual a importância de salvar o trabalho fora do Google Colab?


É importante salvar o trabalho fora do Google Colab devido às limitações de temp das máquinas virtuais. Isso garante que você não perca seu progresso e possa continuar seu trabalho posteriormente sem interrupções.

##Quais são os tipos de dados nativos em Python abordados no curso?

Os tipos de dados nativos em Python abordados no curso incluem inteiros, floats, strings e booleanos. Cada tipo de dado é explicado em detalhes, com exemplos práticos de como utilizá-los e manipulá-los

##O que são variáveis e como elas são utilizadas em Python?

Variáveis são espaços na memória que armazena dados. Em Python, elas são utilizadas para guardar valores que podem ser manupulados ao longo do código. O curso ensina como declarar variáveis, boas práticas de nomenclatura e como identificar tipos de dados utilizando a função 'type'

## Quais são as boas práticas recomendadas para a utilização de variáveis?

As boas práticas recomendadas incluem o uso de nomes descritivos para variáveis, a diferenciação entre maiúsculas e minúsculas, e a documentação do código com comentários. Essas práticas ajudam a manter o código organizado e fácil de entender.

##O que são strings e quais operações podem ser realizadas com elas?

Strings são sequências de caracteres utilizados para representar texto. O curso aborda diversas operações com strings, como concatenação, formatação, fatiamento e métodos como 'upper', 'find' e 'replace'. Essas operações são ilustradas com exemplos práticos.

##Como são utilizadas as variáveis booleanas e operadores lógicos em Python?

Variáveis booleanas armazenam valores 'True' ou 'False'. O curso ensina como utilizar operadores lógicos ('and', 'or' e 'not') para realizar comparações e tomar decisões no código. Exemplos práticos, como um sistema de controle de acesso, são utilizados para ilustrar esses conceitos.

##O que são estruturas condicionais e como elas são utilizadas?

Estruturas condicionais ('if', 'else' e 'elif') são utilizadas para executar diferentes blocos de código com base em condições específicas. O curso destaca a importância da indentação e dos testes de mesa para verificar o comportamento do código em diferentes cenários.

##Quais são as principais estruturas de dados abordadas no curso?

As principais estruturas de dados abordadas no curso são listas, tuplas e dicionários. Cada uma dessas estruturas é discutida em termos de características, usos e exemplos práticos, ajudando os alunos a escolher a estrutura mais adequada para cada aplicação.

##Como são utilizados os laços de repetição em Python?

Laços de repetição ('for' e 'while') são utilizados para percorrer coleçoes de dados. O curso ensina como utilizar o comando 'range', operadores compostos e o 'enumerate' para obter índices ao percorrer listas. Exemplos práticos são fornecidos para ilustrar o uso desses laços.